    /* ----------------------------------------------------------
    :: Template Name: Bigshop - Responsive Ecommerce Template
    :: Author: Designing World
    :: Author URL: https://wrapbootstrap.com/user/DesigningWorld
    :: Description: Bigshop is smart & elegant e-commerce HTML5 template. It's suitable for all e-commerce business platform. It's come with 55+ pages & exciting all features. It's super responsive for all desktop/mobile layout.
    :: Version: 1.2.0
    :: Created: 20 Sep 2017
    :: Last Updated: 21 Jan 2018
    ---------------------------------------------------------- */

    /* -------------------------------------------------
    ************ PLACE YOUR CUSTOM CSS HERE ************
    ------------------------------------------------- */

logo_area>a:hover{
    text-decoration: none;
}
.login_area p a{
   text-transform: capitalize; 
}
.login_area p a:hover{
    text-decoration: none;
}
.single_catagory_area {
    height: 320px;
}
.section_heading {
    width: 100%;
}

.section_padding_30_30{

  padding: 30px 30px;
}

.margin_buttom {
    margin-bottom: 20px;
}
.section_heading h5 {
    margin-left: 13px;
}
.new_arrivals_slides .owl-prev i, .you_make_like_slider .owl-prev i, .new_arrivals_slides .owl-next i, .you_make_like_slider .owl-next i {
    line-height: 38px;
    margin-left: 800px;
}
.subcat{
      float: right;
    margin-right: 53px;
}
.subcat>li{
    float: left;
    margin: 8px 21px 8px;
}
.subcat>li>a{
    color: white;
    text-decoration: none;
}
.subcat>li>a:hover{
    color: blue;
}
.single_catagory_area {
    flex: 0 0 45%;
    float: left;
}

.radio_label{display: inline-block;}
.radio_label input {opacity: 0;cursor: pointer;}
.radio_label label {cursor: pointer;border: 1px solid #a5a5a5;margin-left: -30px;
   line-height: 23px;text-align: center;font-size: 11px; margin-bottom: -5px;}
.radio_label input:checked + label {border: 2px solid #333;color:#000;}

.radio{
    display: inline-block;
}
.radio input{
    border: 1px solid #a5a5a5;
    margin-left: -15;
    width:25px;
    height: 25px;
    border-radius: 100%;
    font-size: 11px;


}
.mar{
    margin: 80px;
}

.Billing{
    width: 50%;
    float: left;
}
.bordere{
    border: 1px solid #ddd;
}

.small {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.categories a{
  color: #333;
}



.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    
    color: #fff;
    transition: all 0.3s;
        background: #fbf1f1;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 3px;
    background: #ddd;
    color: #000;
    text-align: center;
    font-family: monospace;
}

#sidebar ul.components {
    padding: 20px 0;
  
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li{
  list-style: none;
  margin-left: 20px;
  padding: 6px;
      border-bottom: 1px solid #ddd;
}
.sidebar-header h3{
  font-family: 'arial';
    color: #3f5f21;
        font-size: 27px;
}
#sidebar ul li a {
    padding: 0px 0px;
    font-size: 1.1em;
    display: inline-block;
    list-style: none;
    padding-left: 0px !important;
        font-weight: normal;
    color: #756777;
}

#sidebar ul li span {
    display: inline-block;
    float: right;
    font-size: 1.1em;
    margin: 0;
    margin: -4px -9px;
}

#sidebar ul li a:hover,#sidebar ul li a:focus {
    color: #01a161;
    background: #fff;
    font-weight: bold;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #333;
    font-weight: 700;
    
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e9ebf1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.textright{
    text-align: right;
}

.textright a{
    color: #fff;
}

.footer-bottom-area { 
    background: #0d4d66 !important;
}
.footer-bottom-area{
    position:relative;
    background:#ffffff;
    border-top:1px solid #e0e0e0;
}

.footer-bottom-area{
    
    border-top-color:rgba(255,255,255,0.10);
}


/*====== start megamenu ======*/
.mega-dropdown {

}
.mega-dropdown  .dropdown-menu {
    position: absolute !important;
    top: 100%;
    left: 0;
    z-index: 9999999;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}


/* 
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}


.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
} */

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.megamenu-lists  a,.megamenu-lists  a:hover {
    background: transparent ;
    padding-left: 0px !important;
}

.new_arrivals_area  .nav-tabs {
            border-bottom: 0px solid #dee2e6;
           margin-top: 7px;
        }
.new_arrivals_area  .nav-tabs li{
            color: #fff;
            margin-right: 7px;
        }






/*changing*/
.nav-menu>li:hover{
  background: #19B5FE;
  color: #fff;
}

.nav-menu>li a:hover{
  color: #fff;
}


.megamenu-panel.nav-submenu{
  background: #19B5FE;
}

.megamenu-tabs-pane {
     border: solid 0px #eff0f2; 
    background-color: #19B5FE;
}

.megamenu-lists a{
  color: #fff !important;
}

.navigation-landscape .megamenu-list {
    border-right: solid 0px #f0f0f0;
}

.brand-lsit{
  display: inline-block;
  width: 100%;
  background: red;
}

.all-brand .owl-controls{
  display: none;
}
.subs_btm_text{
  font-size: 14px;
  font-family: 'robotolight';
   color: #9f9f9f;
   padding-top: 10px;
   text-align: left;
   display: block;

}
.block-title{
  margin-bottom: 10px; 
  list-style: none;
}
.input-box input{
      border: 0 none;
    font-family: 'robotoregular';
    font-size: 14px;
    height: 37px;
    margin: 0;
    padding: 0 0 0 18px;
    width: 223px;
}

.button span{
      background: #4D86C6;
    color: #fff;
    width: 84px;
    height: 37px;
    line-height: 37px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    font-family: 'robotobold';
}